.App {
  text-align: center;
  background-color: #282c30;
  min-height: 100vh;
}

.App-header {
  background-color: #282c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.buttons {
  display: inline-block;
}

.button {
  font-size: 20px;
  width: 100px;
  height: 40px;
  margin: 40px;
}

.addButton {
  font-size: 15px;
  width: 100px;
  height: 30px;
  margin: 40px;
}

.edit_delete {
  display: inline;
}

.edit_delete_ul {
  background-color: #282c30;
  display: inline-flex;
}

.LoginPage {
  text-align: center;
}

.Login-header {
  background-color: #282c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Title {
  font-size: 80px;
}

.EmailLabel {
  margin-bottom: 20px;
}

.PasswordLabel {
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: black;
}

li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.SignUpPage {
  text-align: center;
}

.SignUp-header {
  background-color: #282c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.PropManaAfterSign {
  text-align: center;
}

.Page_Name {
  height: 60px;
  text-align: center;
  background-color: #282c30;
  color: white;
}

.Info_Page_Split {
  background-color: #282c30;
  display: flex;
}

.PropMana_menu {
  background-color: #282c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.display_item {
  padding: 20px;
  color: white;
}

.display {
  flex-basis: 80%;
}

.table {
  color: white;
  width: 100%;
}

.buttonUL {
  list-style-type: none;
  margin: 0;
  padding: 10px 24px;
  overflow: hidden;
  background-color: #282c30;
  align-items: left;
  text-align: left;
  justify-content: left;
  display: block;
}

.buttonSign {
  width: 100px;
  height: 50px;
  margin: 10px;
}

.PropMana_option {
  width: 150px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 50%;
  left: 0;
  display: block;
}

.buttonSign {
  width: 100px;
  height: 50px;
  margin: 10px;
}

.RegProcess {
  text-align: center;
  background-color: #282c30;
}

.RegProcess-header {
  background-color: #282c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

label {
  display: block;
}

.registerButton {
  display: inherit;
  text-align: center;
  width: 70px;
  height: 30px;
  margin: 10px;
  margin-left: 230px;
}
